{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="assets/images/bg/bg-1.jpg" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Login</h3>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
   
    <!-- Create Job Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="create-job-form col-lg-10 mx-auto">
                     <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <div class="row mb-n3">
                                <div class="col-md-6 col-12 mb-3">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >
                                </div>
                                <div class="col-12 mb-3">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        Sign in
                                    </button><br><br>
                                    <a href="{{path('app_forgot_password_request')}}">Forgot your password</a><br>
                                    <a href="{{path('app_register')}}">Sign up</a>
                                </div>
                            </div>
                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Job End -->

{% endblock %}
