{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="assets/images/bg/bg-1.jpg" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Liste des candidatures</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste des candidatures</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
    <!-- Recent Jobs Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="section-title">
                <h2 class="title">Nombre de postulations: {{ nbrepostulation }}</h2>
            </div>
            <!-- Job List Wrap Start -->
            <div class="job-list-wrap">
                {% for candidature in candidatures %}
                <!-- Job List Start -->
                <a href="job-single.html" class="job-list">
                    <div class="company-logo col-auto">
                        <img src="assets/images/companies/company-1.png" alt="Company Logo">
                    </div>
                    <div class="salary-type col-auto order-sm-3">
                        {# <span class="salary-range">$5000 - $8000</span> #}
                        <span class="badge badge-success">{{ candidature.etatCandidature ? 'Yes' : 'No' }}</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">{{ candidature.OffreEmploi.NomOffre }}</h6>
                        <ul class="meta">
                            <li><strong class="text-primary">{{ candidature.OffreEmploi.IdRecruteur.NomUtilisateur }}</strong></li>
                            <li><i class="fa fa-clock"></i>&nbsp;&nbsp;{{ candidature.DateCreation ? candidature.DateCreation|date('Y-m-d') : '' }}</li>
                        </ul>
                    </div>
                </a>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                <!-- Job List Start -->

                {# <!-- Job List Start -->
                <a href="job-single.html" class="job-list">
                    <div class="company-logo col-auto">
                        <img src="assets/images/companies/company-2.png" alt="Company Logo">
                    </div>
                    <div class="salary-type col-auto order-sm-3">
                        <span class="salary-range">$7000 - $13000</span>
                        <span class="badge badge-warning">Part Time</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">Product UI & UX Expert</h6>
                        <ul class="meta">
                            <li><strong class="text-primary">Astha</strong></li>
                            <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start -->

                <!-- Job List Start -->
                <a href="job-single.html" class="job-list">
                    <div class="company-logo col-auto">
                        <img src="assets/images/companies/company-3.png" alt="Company Logo">
                    </div>
                    <div class="salary-type col-auto order-sm-3">
                        <span class="salary-range">$5000 - $8000</span>
                        <span class="badge badge-danger">Freelance</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">Full Stack Backend Developer</h6>
                        <ul class="meta">
                            <li><strong class="text-primary">Github</strong></li>
                            <li><i class="fa fa-map-marker"></i> 2020 Willshire Glen, GA-30009</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start --> #}

            </div>
            <!-- Job List Wrap Start -->

            <div class="text-center mt-4 mt-lg-5">
                <a href="job-list.html" class="btn btn-primary">View All Jobs</a>
            </div>

        </div>
    </div>
    <!-- Recent Jobs End -->
{% endblock %}
