{% extends 'base.html.twig' %}

{% block title %}OffreEmploi{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="assets/images/bg/bg-1.jpg" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">{{ offre_emploi.NomOffre }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item">Offres d'emploi</li>
                    <li class="breadcrumb-item active">{{ offre_emploi.NomOffre }}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
    <!-- Recent Jobs Start -->

    <div class="section section-padding">
        <div class="container">
            <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2"> 
                <a href="{{ path('offre_emploi_index') }}" class="btn btn-info">Retour aux offres d'emploi</a>      
            </div><br>   
            {% if error != null %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {% if success != null %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
            {% endif %}
            <div class="row mb-n5">
                <!-- Job List Details Start -->
                <div class="col-lg-8 col-12 mb-5 pr-lg-5">
                    <div class="job-list-details">
                        <div class="job-details-head row mx-0">
                            <div class="company-logo col-auto">
                                <a href="company-single.html"><img src="{{asset('assets/images/companies/company-1.png')}}" alt="Company Logo"></a>
                            </div>
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{ offre_emploi.Salaire }}&nbsp;DT</span>
                                <span class="badge badge-success">{{ offre_emploi.Statut }}</span>
                            </div>
                            <div class="content col">
                                <h5 class="title">{{ offre_emploi.NomOffre }}</h5>
                                <ul class="meta">
                                    <li><strong class="text-primary"><a href="company-single.html">{{ offre_emploi.IdRecruteur.NomUtilisateur }}</a></strong></li>
                                    <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ offre_emploi.Location }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-details-body">
                            <h6 class="mb-3">Description</h6>
                                {{ offre_emploi.Description }}
                            <h6 class="mb-3 mt-4">Responsibilities</h6>
                                {{ offre_emploi.Responsabilites }}
                            <h6 class="mb-3 mt-4">Exigences</h6>
                                {{ offre_emploi.Exigences }}
                            <h6 class="mb-3 mt-4">Benefits</h6>
                                {{ offre_emploi.Benefices }}
                        </div>
                    </div>
                </div>
                <!-- Job List Details End -->
                <!-- Job Sidebar Wrap Start -->
                <div class="col-lg-4 col-12 mb-5">
                    <div class="sidebar-wrap">
                        <!-- Sidebar (Apply Buttons) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <div class="row m-n2">
                                    {% if is_granted('ROLE_CANDIDAT') %}
                                        {% if nbrePostul == 0 %}
                                            <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                                <a href="{{ path('candidature_new', {'id': offre_emploi.id}) }}" class="d-block btn btn-primary">Postuler maintenant</a>
                                            </div>
                                        {% else %}
                                            <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                                <p class="d-block btn btn-success">Postulé</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_RECRUTEUR') %}
                                        <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                            <a href="{{ path('offre_emploi_edit', {'id': offre_emploi.id}) }}" class="d-block btn btn-success">Modifier</a>
                                        </div>
                                        <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                            <a href="#" class="d-block btn btn-danger">{{ include('offre_emploi/_delete_form.html.twig') }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar (Apply Buttons) End -->
                        <!-- Sidebar (Job Overview) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Aperçu du poste</h6>
                                <ul class="job-overview list-unstyled">
                                    <li><strong>Publié le:</strong>&nbsp;&nbsp;{{ offre_emploi.DateDebut ? offre_emploi.DateDebut|date('Y-m-d') : '' }}</li>
                                    <li><strong>Statut du travail:</strong>&nbsp;&nbsp;{{ offre_emploi.Statut }}</li>
                                    <li><strong>Lieu du travail:</strong>&nbsp;&nbsp;{{ offre_emploi.Location }}</li>
                                    <li><strong>Salaire:</strong>&nbsp;&nbsp;{{ offre_emploi.Salaire }}&nbsp;DT</li>
                                    <li><strong>Nombre de place demandé:</strong>&nbsp;&nbsp;{{ offre_emploi.NbrPlaces }}</li>
                                    <li><strong>Deadline:</strong>&nbsp;&nbsp;{{ offre_emploi.DateFin ? offre_emploi.DateFin|date('Y-m-d') : '' }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar (Job Overview) End -->
                    </div>
                </div>
                <!-- Job Sidebar Wrap End -->
            </div>
        </div>
    </div>
    <!-- Recent Jobs End -->
{% endblock %}
